body {
    font-family: var(--second-font-family);
}

header h1 {
    font-family: var(--first-font-family);
    font-size: 4em;
    font-weight: bold;
    color: var(--primary-font-color);
    width: 70%;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}

header nav button a {
    text-decoration: none;
    color: var(--secondary-font-color);

}





button.btn-suggestions {
    background: var(--linear-first-button);
}

button.btn {
    background: var(--linear-second-button)
}

button a {
    text-decoration: none;
    color: var(--secondary-font-color);

}