body {
    font-family: var(--second-font-family);
}

button{
    border: none;
    border-radius: 10px;
    box-shadow: var( --box-shadow-btn);
    height: 47px;
    width: 221px;
}



 button a {
    text-decoration: none;
    color: var(--light);
    font-family: var(--second-font-family);
    font-weight: bold;
    font-size: 1.4em;
}

/*header*/

header{
    height: 100vh;
    
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
}

header nav button.btn-suggestions {
    background: var(--linear-first-button);
}

header nav button a {
    font-size: 1.2em;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 150px);
    padding-bottom: 20px;
    width: 65%;
    margin: auto;

}

header h1 {
    font-family: var(--first-font-family);
    font-size: 4em;
    font-weight: bold;
    color: var(--primary-font-color);
}

header div p.hero-text {
    font-family: var(--first-font-family);
    font-size: 1.8em;
    line-height: 1.5;
    
}

/*main*/

main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 535px;
    background: var(--primary-color);
}

main section.section-visites{
    flex-direction: row-reverse;
    background: var(--secondary-color);
}

main section article {
    width: 500px;
    height: 429px;
}

main section article button.btn {
    background: var(--linear-second-button)
}

main section article h2, main section article h3 {
    font-family: var(--first-font-family);
    color: var(--secondary-font-color);
    font-size: 2em;
    font-weight: bold;
    
}

main section article h2::after{
    content: "";
    display: block;
    background: var(--primary-font-color);
    width: 180px;
    margin: 16px 0px;
    height: 4px;
}

main section article h3 {
    font-size: 2.5em;
}

main section article p {
    height: 185px;
    padding: 40px 0px;
    font-size: 1.15em;
}

/*footer*/

footer {
    background: var(--secondary-color);
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    padding: 10px;
}

