body {
    font-family: var(--second-font-family);
}

button{
    border: none;
    border-radius: 10px;
    box-shadow: var( --box-shadow-btn);
    height: 47px;
    width: 221px;
}



 button a {
    text-decoration: none;
    color: var(--light);
    font-family: var(--second-font-family);
    font-weight: bold;
    font-size: 1.4em;
}

/*header*/

header{
    height: 173px;
    display: flex;
    align-items: center;
}

header img.img{
    height: 173px;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: .5;
    z-index: 1;
}

header >*:not(.img){
    position: relative;
    z-index: 2;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1em 4em;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-font-color);
    font-family: var(--second-font-family);
    font-weight: bold;
    font-size: 1.4em;
}


/*main*/

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 535px;
    background: var(--primary-color);
}

main section.suggestions-visites{
    background: var(--secondary-color)   ;
}

main section article {
    width: 500px;
    height: 429px;
}

main section img.logo{
    height: 50px;
    width: 50px;
}

main section article button.btn {
    background: var(--linear-second-button)
}

main section article h2, main section article h3 {
    font-family: var(--first-font-family);
    color: var(--secondary-font-color);
    font-size: 2em;
    font-weight: bold;
    
}

main section article h2::after{
    content: "";
    display: block;
    background: var(--primary-font-color);
    width: 180px;
    margin: 16px 0px;
    height: 4px;
}

main section article h3 {
    font-size: 2.5em;
}

main section article p {
    height: 185px;
    padding: 40px 0px;
    font-size: 1.15em;
}

.section {
    display: flex; 
    flex-direction: column;
}
 section article div img {
    height: 306.67px; 
    width: 230px; 
 }

 section article {
    display : flex; 
    
 }
/*footer*/

footer {
    background: var(--secondary-color);
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 130px;
    padding: 10px;
}

footer ul li a img{
    height: 50px;
    width: 50px;
}

footer ul li a img.france{
    height: 100px;
    width: 100px;
}
